body {
  background: linear-gradient(
    26deg,
    rgb(115, 235, 252) 0%,
    rgb(243, 248, 179) 88%
  );
  background-attachment: fixed;
}

.weather-app {
  font-family: "Roboto Mono", monospace;
  margin: 0 auto;
  padding: 30px;
  max-width: fit-content;
}

.current-weather-container {
  border-radius: 7px;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.3);
}

.search-container {
  margin-bottom: 20px;
}

.searchbar {
  border-radius: 3px;
  font-size: 15px;
  background: none;
  width: 500px;
  justify-content: center;
  text-align: center;
}

.icon-location {
  position: relative;
  left: 20px;
  background: none;
  font-size: 17px;
}

.search-button {
  padding: 0 15 0 15;
  font-size: 15px;
  background-color: rgba(255, 255, 255, 0.3);
}

.city-name {
  margin-top: 20px;
  float: right;
  font-size: 50px;
  font-family: "Major Mono Display", monospace;
}

.current-time {
  font-size: 13px;
  position: relative;
  bottom: 15px;
  display: block;
  margin: 0 0 20px auto;
  text-align: center;
}

.icon-weather {
  margin-top: 20px;
  font-size: 60px;
  font-weight: 100;
}

.current-temp {
  font-size: 50px;
  text-align: right;
  font-family: "Major Mono Display", monospace;
}

.current-temp .active {
  color: grey;
  cursor: default;
  text-decoration: none;
}
.current-temp .active:hover {
  text-decoration: none;
}

.temp-unit {
  color: #000;
  text-decoration: none;
  font-size: 15px;
  font-family: "Roboto Mono", monospace;
  transition: all 200ms ease-in-out;
}

.extra-data-temp {
  font-size: 13px;
  text-align: right;
  text-transform: capitalize;
}

.footer {
  font-size: 13px;
  font-family: "Roboto Mono", monospace;
  margin: 0 auto;
  display: block;
  text-align: center;
}
.source-link {
  color: #000;
}

.linkedin-link {
  text-decoration: none;
  color: #000;
}

.linkedin-link:hover {
  color: #000;
  font-weight: 700;
}

.source-link:hover {
  color: rgb(243, 248, 179);
}

.weather-forecast {
  text-align: center;
  padding: 30px;
  border-radius: 7px;
  margin: 20px auto;
  background-color: rgba(255, 255, 255, 0.3);
}
.weather-forecast-date {
  font-size: 14px;
  opacity: 0.6;
}
.weather-forecast-temperature {
  font-size: 13px;
}

.weather-forecast-min {
  opacity: 0.6;
}

.weather-mood {
  display: block;
  margin: 10 auto;
  text-align: center;
  font-family: "Roboto Mono", monospace;
  font-size: 13px;
}
